/* Réinitialisation des marges et bordures */
div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Corps de la page */
  .dashboard {
    font-family: 'Arial', sans-serif;
    background-color: #e6f0ff;
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
  
  /* Barre latérale (Sidebar) */
  .sidebar {
    background-color: #ffffff;
    width: 250px;
    transition: width 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour la barre latérale */
    overflow: hidden;
  }
  
  .sidebar.collapsed {
    width: 70px;
  }
  
  .sidebar .logo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sidebar .logo h2 {
    font-size: 20px;
    color: #333;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .sidebar.collapsed .logo h2 {
    opacity: 0;
    visibility: hidden;
  }
  
  .sidebar .logo i {
    font-size: 20px;
    cursor: pointer;
  }
  
  .sidebar .nav {
    padding: 0;
    margin-top: 20px;
  }
  
  .sidebar .nav-item {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar .nav-item:hover {
    background-color: #f0f4ff;
  }
  
  .sidebar .nav-item i {
    font-size: 18px;
    color: rgb(245, 183, 10);
    margin-right: 20px;
    transition: margin-right 0.3s;
  }
  
  .sidebar.collapsed .nav-item i {
    margin-right: 0;
  }
  
  .sidebar .nav-item span {
    font-size: 16px;
    color: #333;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .sidebar.collapsed .nav-item span {
    opacity: 0;
    visibility: hidden;
  }
  
  /* Contenu principal */
  .content {
    flex: 1;
    background-color: #f4f7fe;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    background-color: #f4f7fe;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Suppression de l'ombre */
  }
  
  .navbar .search-bar {
    flex: 1;
  }
  
  .navbar input {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  
  .navbar .actions div {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .dashboard-content {
    padding: 20px;
  }
  
  h2 i {
    font-size: 24px; /* Taille de l'icône */
    margin-right: 10px; /* Espacement entre l'icône et le texte */
    color: rgb(245, 183, 10); /* Couleur de l'icône */
  }

  .actions{
    border: 1px solid rgb(245, 183, 10);
    margin-top: 10px;
    border-radius: 5px;
  }

  .actions .btn:hover{
    background-color: rgb(245, 183, 10);
    color: white !important;
  }