<section id="choose" class="choose__us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <img [src]="pastaImg" class="w-100" alt="Pasta" />
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="choose__content" style="color: #fff">
            <h4>Who we are</h4>
            <h1>Take a look at the benefits we offer you</h1>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam
              voluptatum veniam quasi cumque consectetur. Facilis.
            </p>
          </div>
  
          <div class="features ">
            <div class="feature1 d-flex align-items-center gap-5">
              <div class="single__feature">
                <span><i class="ri-truck-line"></i></span>
                <h3>Free Home Delivery</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
  
              <div class="single__feature">
                <span class="feature-icon-two"><i class="ri-money-dollar-circle-line"></i></span>
                <h3>Return & Refund</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
  
            <div class="feature1 mt-3 d-flex align-items-center gap-5">
              <div class="single__feature">
                <span class="feature__icon-3"><i class="ri-secure-payment-line"></i></span>
                <h3>Secure Payment</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
  
              <div class="single__feature">
                <span class="feature__icon-4"><i class="ri-24-hours-line"></i></span>
                <h3>24/7 Hours Support</h3>
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  