<footer>
    <div class="footer-content">
      <div class="quick-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Return & Refund</a></li>
          <li><a href="#">Payment Method</a></li>
        </ul>
      </div>
      <div class="info-links">
        <h3>Info Links</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Recipes</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="contact-info">
        <h3>Contact</h3>
        <p>Lagos, Nigeria</p>
        <p>Christopheroche827@gmail.com</p>
        <p>+234 9033 631 446</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2022, developed by Chris. All rights reserved</p>
    </div>
  </footer>