<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="logo">
            <h1 class="mb-4">Slice N Spice</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil labore ipsa, maiores sint earum odio!</p>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
          <h5 class="footer__link-title">Quick Links</h5>
          <ul class="list-group">
            <li class="link__item">
              <a href="#">Terms & Conditions</a>
            </li>
            <li class="link__item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="link__item">
              <a href="#">Return & Refund</a>
            </li>
            <li class="link__item">
              <a href="#">Payment Method</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
          <h5 class="footer__link-title">Info Links</h5>
          <ul class="list-group">
            <li class="link__item">
              <a href="#">About Us</a>
            </li>
            <li class="link__item">
              <a href="#">Menu</a>
            </li>
            <li class="link__item">
              <a href="#">Recipes</a>
            </li>
            <li class="link__item">
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
          <h5 class="footer__link-title">Contact</h5>
          <ul class="list-group">
            <li class="link__item">Lagos, Nigeria</li>
            <li class="link__item">Christopheroche827@gmail.com</li>
            <li class="link__item">+234 9033 631 446</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <p>copyright 2022, developed by Chris. All rights reserved</p>
    </div>
  </div>
</footer>