<header>
    <div class="navbar">
      <div class="logo d-flex text-danger">
        <i class="material-icons me-3 mt-1">restaurant</i>
        <h1>Bissou Food</h1>
      </div>
      <div class="nav-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Menu</a>
        <a href="#">Recipes</a>
        <a href="#">Contact</a>
      </div>
      <div class="search-bar">
        <input type="text" placeholder="search item..." />
        <button>Q</button>
      </div>
      <div class="cart-icon">
        <i class="material-icons">shopping_cart</i> <!-- Icône de panier Material Icons -->
        <span class="cart-count">{{ cartItemsCount }}</span> <!-- Nombre d'articles -->
      </div>
    </div>
  </header>